doctype html
head
    title HTML5 Tetris
    link(rel='stylesheet' href='css/main.css')
body
    audio#clearsound(src='sound/pop.ogg', preload='auto')
    canvas(width='300', height='600')
    script(src='js/tetris.js')
    script(src='js/controller.js')
    script(src='js/render.js')
